WebCrawler/Practice/
WebCrawler/Download/assignment_banner1.jpg
WebCrawler/Download/assignment_movie1.mp4
WebCrawler/Download/test1.jpg

WebCrawler/Youtube/drum.mp3
WebCrawler/Youtube/ffmpeg.exe
WebCrawler/Youtube/Good.mp3
WebCrawler/Youtube/Assignment.mp4
WebCrawler/Youtube/One More Night - Drum Cover - Maroon 5.mp4

WebCrawler/Beautifulsoup/CSSSelector_files
WebCrawler/Beautifulsoup/*.html

WebCrawler/Beautifulsoup/imagedown/